.sectFiveCard{
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-bottom: 2px solid #00AC6D;
    padding-bottom: 20px;
}

.imgCardDiv {
    position: relative;
}

.imgCardDiv img {
    max-width: 360px;
    margin-bottom: 6px;
}

.logos {
    bottom: 15px;
    right: 15px;
    position: absolute;
    display: flex;
    gap: 20px;
}